<!-- footer info -->

<footer>
    <p>Vatche Atikian's Portfolio. To view full portfolio please visit <a href="https://vatcheatikian.carbonmade.com/">vatcheatikian@carbonmade.com</a></p>
</footer>

 <script src="/javascripts/bootstrap.min.js"></script> 
    </body>
    </html>