<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
            <nav>
        <ul>
        <li><a href="/" title="index">Home</a></li>
            <li><a href="/about" title="about">about</a></li>
          <li><a href="/skills" title="skills">skills</a></li>
          <li><a href="/work" title="work">work</a></li>
            <li><a href="/contact" title="contact">contact</a></li>
      </ul>
      </nav>