<%- include partials/header.ejs %>
<div class="container">
<main class="row">
    <section><h1>About me</h1></section>
</main>
<article class="row">
    <section class="me col-lg-2">  
    </section>
    <!-- about me -->
    <section class="col-lg-10">
    <p>I have over 7 years of experience in Graphic Design and Art Production. I have excellent knowledge of computer graphic programs such as Photoshop, Quark, Illustrator and Indesign, as well as, Microsoft Word for both Macintosh and PC. I acquired first hand knowledge and experience from my 3 year program at Seneca at York, graduating with a Graphic Design Diploma. I’m a very creative and organized person, especially when it comes to layout and type formatting.</p>

<p>I have a wide variety of skill sets in the Graphic Design field. I have done many different type of jobs including, magazine/newsletter layout, brochures, logos, web design, packaging, print design, photography (including organizing photo shoots) and prepress.</p>

<p>In each company I have worked at I have brought my clean and unique design skills. I have recently won multiple awards for my work:<br>
NCMPR Medallion Awards (Silver) for Michener News Student Issue <br>
MarCom awards for Michener Magazine (Platinum) Impact Issue and <br>
    Honourable Mention for Michener News Student Issue</p>

<p>Currently, I am studying at Georgian College for Interactive Web Design and Development. I have gained knowledge in the most current programs such as: CSS, HTML5, JavaScript, PHP, Database, ASP.NET, GitHub, Bootstrap and C#.
    </p>
        </section>
    </article>
</div>
<%- include partials/footer.ejs %>