<%- include partials/header.ejs %>
<!-- info about the site -->
<section class="row">
     <div class="main col-lg-12"></div>
    </section>
<article class="row">
    <section class="col-lg-12">
        <h1>Vatche Atikian's Portfolio site</h1>
        <p>Welcome to my site here you will be able to view my past work, learn a little about me and my work experience. if you would like to contact me just click on the Contact tab.
    </section>

</article>


<%- include partials/footer.ejs %>

