<%- include partials/header.ejs %>

<main>
    <article>
        <!-- my skills list -->
<h1>Skills</h1>
<p>CSS, HTML5, JavaScript, PHP, Database, ASP.NET, GitHub, Bootstrap, C#,Adobe Suite, Photoshop, Illustrator, Indesign, Quark, Print Design, Web Design, Editorial, Packaging, Photo Shoots, Prepress</p>
        </article>
</main>
<!-- images and info about what technology i use -->
<article class="row">
    <section class="col-lg-2 css">
    </section>
        <section class="col-lg-2 html">      
    </section>
        <section class="col-lg-2 git">      
    </section>
        <section class="col-lg-2 boot">      
    </section>
        <section class="col-lg-2 adobe">      
    </section>
        <section class="col-lg-2 js">      
</article>
    <article class="row">
    <section class="col-lg-2"> 
        <p>CSS has made it possible for me to make my print related talent on to the web.</p>
    </section>
        <section class="col-lg-2">
            <p>I have been able to learn code from scratch which is key in the web industry.</p>
    </section>
        <section class="col-lg-2">
            <p>Version Control is a very important part of keeping track of files and updates.</p>
    </section>
        <section class="col-lg-2 ">
            <p>Bootstrap has made designing and cross platform layouts easier.</p>
    </section>
        <section class="col-lg-2">
            <p>My skills with Adobe is immense. My knowledge with adobe is at a senior level.</p>
    </section>
        <section class="col-lg-2">
            <p>Learning JS has been advantageous in making a static site to an interactive one.</p>
</article>

<%- include partials/footer.ejs %>