<%- include partials/header.ejs %>

<main>
<h1>Portfolio Work</h1>
</main>
<!--web work -->
<article class="row">
    <h2>Website Designs</h2>
<section class="col-lg-4 web1">
</section>
<section class="col-lg-4 web2">
</section>
<section class="col-lg-4 web3">
</section>
</article>
<article class="row">
<section class="col-lg-4">
    <h3>Tailor Made Website</h3>
</section>
<section class="col-lg-4">
    <h3>BioBoost Website</h3>
</section>
<section class="col-lg-4">
    <h3>Wine Thirty Website</h3>
</section>
</article>
<!-- print work -->
<article class="row">
        <h2>Print Designs</h2>
<section class="col-lg-4 print1">
</section>
<section class="col-lg-4 print2">
</section>
<section class="col-lg-4 print3">
</section>
</article>
<article class="row">
<section class="col-lg-4">
    <h3>SCT Booklet</h3>
</section>
<section class="col-lg-4">
    <h3>Michener Magazine</h3>
</section>
<section class="col-lg-4">
    <h3>Peroni Ad</h3>
</section>
</article>
<!-- graphic design work -->
<article class="row">
    <h2>Graphic Design</h2>
<section class="col-lg-4 gra1">
</section>
<section class="col-lg-4 gra2">
</section>
<section class="col-lg-4 gra3">
</section>
</article>
<article class="row">
<section class="col-lg-4">
    <h3>Paris Pastries Logo</h3>
</section>
<section class="col-lg-4">
    <h3>IVT Engineering Logo</h3>
</section>
<section class="col-lg-4">
    <h3>Wired Orthdontics flyer</h3>
</section>
</article>
<%- include partials/footer.ejs %>